# التعامل مع الأخطاء
ErrorDocument 404 /404.html

# تمكين إعادة الكتابة
RewriteEngine On

# إعادة توجيه الطلبات غير الموجودة إلى الصفحة الرئيسية
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php [L,QSA]

# تعيين نوع MIME للملفات
AddType image/svg+xml .svg
AddType image/png .png 